*,
*:before,
*:after {
  box-sizing: border-box;
}
code {
  background-color: #0077cc;
  color: #060b1a;
  opacity: 0.8;
}

a[href^="mailto:"] {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

a {
  color: white;
}

.divide-8 {
  min-width: 8px;
  min-height: 8px;
}

.divide-16 {
  min-width: 16px;
  min-height: 16px;
}

.divide-32 {
  min-width: 32px;
  min-height: 32px;
}

.divide-64 {
  min-width: 64px;
  min-height: 64px;
}

.divide-128 {
  min-width: 128px;
  min-height: 128px;
}

.divide-256 {
  min-height: 256px;
}

html, body {
  padding: 0;
  background-color: #060b1a;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Source Code Pro', monospace;
  line-height: 2;
  font-size: 14px;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 32px;
  user-select: none;
}

.logo {
  width: 120px;
  height: 35px;
  background:url('/static/img/logo.png') no-repeat center center;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.logo-label {
  font-size: 24px;
}

.content {
  display: flex;
  max-width: 800px;
}

.content-left {
  position: sticky;
  top: 16px;
  height: 100vh;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch {
  position: absolute;
  bottom: calc(50vh - 114px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 228px;
  background: url('/static/img/watch-1.svg') no-repeat center center;
  background-size: 100%;
  opacity: 1;

  background-image: linear-gradient(to right, rgba(0,0,0, 0.9) 0 100%), url(/static/img/watch-1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.watch-content {
  width: 126px;
  height: 136px;
  background-size: 85% 95%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  background-color: black;
  background-image: url('/static/img/controller.png');
}

.content-right {
  position: relative;
}

.github-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  background-image: url('/static/img/github-logo.svg');
  cursor: pointer;
}

.show-mobile {
  display: none;
}

.footer {
  display: flex;
}

.footer a {
  margin: 8px;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 8px;
    line-height: 1.5;
    font-size: 10px;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}
